* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(0, 255, 38);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.personas {
  background-color: rgba(0, 0, 255, 0.34);
  padding: 20px 40px;
}

.bio {
  background-color: rgba(165, 42, 42, 0.491);
  padding: 20px 40px;
}

footer {
  background-color: rgba(137, 43, 226, 0.242);
  height: 50px;
  padding: 100px;
}
